<!DOCTYPE HTML>
<html>
    <head>
        <title>{{source}} :: {{metric}} :: Metric :: Gorrdpd</title>
        {{> styles.mustache}}
    </head>

    <body>
        <h1>
            Metric &raquo;
            <a href="/metric/{{metric}}">{{metric}}</a> &raquo;
            {{source}}
        </h1>

        <ul class="graphs">
            {{#metrics}}
                <li>
                    <a href="/metric/{{Name}}/{{source}}/{{Writer}}">
                        <img src="/graph/{{source}}/{{metric}}/{{Writer}}?width=400&amp;height=150"/><br/>
                        {{Name}} :: {{Writer}}
                    </a>
                </li>
            {{/metrics}}
        </ul>

        <div class="back">
            <a href="/metric/{{metric}}">
                Back to Metric &#8617;
            </a>
        </div>
    </body>
</html>
