<!DOCTYPE HTML>
<html>
    <head>
        <title>{{metric}} :: Metric :: Gorrdpd</title>
        {{> styles.mustache}}
    </head>

    <body>
        <h1>Metric &raquo; {{metric}}</h1>

        <ul class="graphs">
            {{#hosts}}
                {{#Files}}
                    <li>
                        <a href="/metric/{{Name}}/{{Source}}">
                            <img src="/graph/{{Source}}/{{Name}}/{{Writer}}?width=400&amp;height=150"/><br/>
                            {{Name}} :: {{Writer}}
                        </a> on <a href="/host/{{Source}}">{{Source}}</a>
                    </li>
                {{/Files}}
            {{/hosts}}
        </ul>

        <div class="back">
            <a href="/">
                Back to Summary &#8617;
            </a>
        </div>
    </body>
</html>