<style>
    a img { border: 0px; }
    a { text-decoration: none;}
    ul.graphs { margin: 10px; padding: 0px;}
    ul.graphs li {
        list-style-type: none;
        float: left;
        background: #eee;
        border: 2px solid #ccc;
        padding: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin: 0px 10px 10px 0px;
        height: 300px;
        text-align: center;
     }
     ul.large-graphs li {
         height: 450px;
     }
    .back { clear: both; margin-top: 10px; }
</style>
