<style>
    body {
        font: 12pt/1.5em 'Droid Sans', arial, sans-serif;
        background: #151B1F;
    }
    a {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    h6#logo {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        margin: 0px;
        text-transform: uppercase;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.3);
        color: rgba(0, 0, 0, 0.3);
    }
    h1 {
        border-bottom: 2px solid #151B1F;
        padding: 0px 185px 20px 20px;
        margin: 0px -22px;
        line-height: 1.2em;
    }
    h1 a { color: #666; border-bottom: 1px dashed #777; }
    h1 a:hover { color: #222; border-bottom: 1px solid #777; }
    #container {
        background: #FFF;
        margin: 0px auto;
        width: 95%;
        border: 1px solid blue;
        border: 2px solid rgba(0, 0, 0, 0.1);
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        padding: 20px;
        position: relative;
        min-height: 100px;
    }
    .group { margin-left: -20px; overflow: hidden; font-size: 1em; }
    .group strong, .group a, .button {
        display: block;
        padding: 5px 35px 5px 20px;
        float: left;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
        background: -moz-linear-gradient(top, #666, #333);
        border: 1px solid #666;
        -moz-border-radius-bottomright: 30px;
        border-bottom-right-radius: 30px;
        -moz-border-radius-topright: 30px;
        border-top-right-radius: 30px;
        color: #fff;
        text-shadow: 0px 2px 3px #666, 0 -1px 0 #000;
        font-weight: normal;
    }
    .button {
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding: 5px 20px;
    }
    .group a:hover, .button:hover {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#222));
        background: -moz-linear-gradient(top, #555, #222);
    }
    a img { border: 0px; }
    a { text-decoration: none;}
    ul.graphs { margin: 10px; padding: 0px; clear: both;}
    ul.graphs li {
        list-style-type: none;
        float: left;

        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd));
        background: -moz-linear-gradient(top, #eee, #ddd);
        -moz-box-shadow: 0px 1px 5px #ccc;
        -webkit-box-shadow: 0px 1px 5px #ccc;

        border: 1px solid rgba(0, 0, 0, 0.1);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin: 0px 10px 10px 0px;
        height: 290px;
        text-align: center;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
     }
     ul.graphs li:hover {
         background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#666));
         background: -moz-linear-gradient(top, #888, #666);
         border: 1px solid rgba(0, 0, 0, 0.5);
     }
     ul.graphs li a {
         color: #333;
         display: block;
         padding: 10px;
     }
     ul.graphs li:hover a { color: #eee; }
     ul.large-graphs li { height: auto; }
     ul.short-graphs li { height: auto; width: 320px; }
    .back { clear: both; margin-top: 10px; overflow: hidden; padding-left: 10px; }
    .clear { clear: both; }
    #filter {
        position: absolute;
        right: 20px;
        margin-top: 10px;
    }

    #filter-input {
        padding: 5px;
        font-size: 15px;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeef), to(#ffffff));
        background: -moz-linear-gradient(top, #eeeeef, #ffffff);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #717171;
        -webkit-box-shadow: 1px 1px 0px #efefef;
        -moz-box-shadow: 1px 1px 0px #efefef;
        box-shadow:  1px 1px 0px #efefef;
        width: 150px;
    }
    #filter-input:focus {
        -webkit-box-shadow: 0px 0px 5px #007eff;
        -moz-box-shadow: 0px 0px 5px #007eff;
        box-shadow: 0px 0px 5px #007eff;
    }
</style>
