<!DOCTYPE HTML>
<html>
    <head>
        <title>Summary :: Gorrdpd</title>
        {{> styles.mustache}}
    </head>

    <body>
        <h1>Summary</h1>

        <ul class="graphs">
            {{#metrics}}
                <li>
                    <a href="/metric/{{Name}}">
                        <img src="/graph/all/{{Name}}/{{Writer}}?width=400&amp;height=150"/><br/>
                        {{Name}} :: {{Writer}}
                    </a>
                </li>
            {{/metrics}}
        </ul>
    </body>
</html>