<!DOCTYPE HTML>
<html>
    <head>
        <title>{{source}} :: {{metric}} :: Metric :: MetricsD</title>
        {{> styles.mustache}}
    </head>

    <body>
        <div id="container">
            <h6 id="logo">MetricsD</h6>
            <h1>
                Metric &raquo;
                <a href="/metric/{{metric}}">{{metric}}</a> &raquo;
                {{source}}
            </h1>

            <ul class="graphs">
                {{#metrics}}
                    <li>
                        <a href="/metric/{{Name}}/{{source}}/{{Writer}}">
                            <img src="/graph/{{source}}/{{metric}}/{{Writer}}.png?width=400&amp;height=150"/><br/>
                        </a>
                    </li>
                {{/metrics}}
            </ul>

            <div class="back">
                <a href="/metric/{{metric}}" class="button">
                    Back to Metric &#8617;
                </a>
            </div>
        </div>
    </body>
</html>
