<!DOCTYPE HTML>
<html>
    <head>
        <title>{{source}} :: Host :: MetricsD</title>
        {{> styles.mustache}}
    </head>

    <body>
        <div id="container">
            <h6 id="logo">MetricsD</h6>
            <h1>
                Host &raquo;
                {{source}}
            </h1>

            <ul class="graphs">
                {{#metrics}}
                    <li>
                        <a href="/metric/{{Name}}">
                            <img src="/graph/{{source}}/{{Name}}/{{Writer}}.png?width=400&amp;height=150"/><br/>
                            {{Name}} :: {{Writer}}
                        </a>
                    </li>
                {{/metrics}}
            </ul>

            <div class="back">
                <a href="/" class="button">
                    Back to Summary &#8617;
                </a>
            </div>
        </div>
    </body>
</html>